<div class="container">
<div class="row">
  <div class="span16">
        <h1>All Research Items</h1>

        <%= will_paginate %>

        <% @research_item.each do |ri| %>
                <tr>
                	<div> hi</div>    
                </tr>
        <% end %>


        <%= will_paginate %>
        </div>
</div>
</div>
