<div id="appContainer">
<div class="container">
<div class="row">
  <div class="span16">
	
		<h1>About Us</h1>
		<p>
		  Research Force
		</p>

	<div>
</div>
</div>
</div>

<%= render 'layouts/footer' %>