<script type='text/javascript' src='javascripts/steal/steal.js?survey,development'></script>

<script language="javascript">
          
       // turn on admin options
       // for some features that are not real security issues if a user
       // somehow finds them, we simply use this JavaScript marker to decide.
       // e.g. retaking a survey.
       ADMIN = false;

	   // path to send the user to when they click "exit"
	     EXIT_PATH = '/';

       // turn on or off transition messages
       TRANSITIONS = false;
       
       //
       ALLOW_EXIT = false;

       var connector = {
         get_survey: function(success) {
	        /* Uncomment this call (and comment out the other code) to grab a 
	         * local survey definition instead of reading from local storage
	        $.get("exampleSurvey.xml", function(survey_raw) {
                       success(survey_raw);
               }, 'xml');
            */   
	        var xmlDoc = null;
			var survey = $.jStorage.get('surveyXML');
			if (!survey) {
				// provide a base definition if no survey found
				survey = '<Survey><rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:dc="http://purl.org/dc/elements/1.1/"><Survey><surveyLine rdf:resource="#mainline"></surveyLine></Survey><Line rdf:about="#mainline"><dc:title>Main Section</dc:title></Line></rdf:RDF></Survey>';
			}
			// parse definition to an xmlDoc
			if (window.DOMParser) {
				parser=new DOMParser();
				xmlDoc=parser.parseFromString(survey,"text/xml");
			}
			else { // Internet Explorer
				xmlDoc=new ActiveXObject("Microsoft.XMLDOM");
				xmlDoc.async="false";
				xmlDoc.loadXML(survey); 
			}
			if (xmlDoc) {
				success(xmlDoc);
			}	
			else {
				//TODO
				steal.dev.log("implement error callback for get_survey in the connector")
			}
         },

         get_survey_metadata: function(callback) {
            callback(null);
         },


         get_state: function(callback) {
            callback(null);
         },


         get_answers: function(callback) {
         	setTimeout(function() {callback(null)}, 1000);
            //callback(null);
         },

         save_state: function(survey, state, success, error) {
         	setTimeout(success, 2000);
            //success();
            //error();
         },

         save_answers: function(survey, answers, success, error) {
            setTimeout(success, 2000);
            //error();
         }
       };

       $(document).ready(function() {
           CALENDAR_PNG = 'javascripts/survey/resources/cal.png';
		   OpenAjax.hub.publish('main.load', {'data_connector' : connector });
		   $.progressBar.defaults.boxImage = 'javascripts/survey/resources/jquery.progressbar/images/progressbar.gif';
		   $.progressBar.defaults.barImage = 'javascripts/survey/resources/jquery.progressbar/images/progressbg_green.gif';
		   
		   // show basic error message on ajax fails
		   $('#survey').ajaxError(function(e, xhr, settings, exception) {
				alert("Error while making call to " + settings.url + ": " + exception);
			});
       });

     </script>
     
<div id="survey"></div>
