<div id="appContainer">
<div class="container">
	<div class="row">
	  <div class="span16">
			<h3> Ok. We're doing some stuff in the background. Please wait... </h3>

			<div style="text-align:center;width:100%;padding:40px 0;">
				<%= image_tag("loadingicon.gif") %>
			</div>


			<script>

				$(document).ready(

					function(){

					var surveyid = '<%= params[:surveyid] %>';

					$.post('publish.json', { surveyid: surveyid}
						,function(data){
							
							window.location.href ='<%= reports_results_path %>?status='+data["status"]+'&surveyid='+data["id"]+'&pid='+data["publishedId"];

						}
					);

					}
				);

			</script>
		</div>
	</div>
</div>
</div>